# Environment variables — never push this
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
staticfiles/
db.sqlite3
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/